@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* NAVBAR*/

.navbar{
    background-color: rgb(33, 35, 167);
    max-height: 4rem;
    height: 4rem;
    color: white;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5;
}


.navbar h1{
    font-family: 'Oswald';
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.li-nav{
    font-family: 'Raleway';
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    color: white;
}

.li-nav span{
    list-style: none;
    color: white;
}

.li-nav i{
    color: white;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.li-social{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.li-social i{
    color: white;
    font-size: 1.5rem;
}

/*FIN DE NAVBAR*/

/*======>COMIENZO DE SECTIONS<=======*/
.section{
    height: 100vh;
}
/*Homepage*/
.homepage{
    background: linear-gradient(rgba(255, 255, 255, 0.5) 80%, rgb(202, 187, 255));
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: start;
    color: black;
    padding: 0 20px;
    
}

.homepage h1{
   font-family: 'Oswald';
   font-size: 8rem;
}

.home-1 img{
    width: 80%;
}

.home-1{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(8px 6px 6px rgb(92, 62, 112));
}

.home-2{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-home{
    font-family: 'Raleway';
    font-size: 1.3rem;
    margin-right: 5rem;

}

.btn-home{
    display: flex;align-items: center;
    gap: 0.5rem;
    z-index: 1;
}

.saber-mas{
    background-color: none;
    border: 2px solid rgb(33, 35, 167);
    color: rgb(33, 35, 167);
    font-family: 'oswald';
    font-weight: 500;
    font-size: 2rem;
    padding: 10px;
    border-radius: 8px;
    cursor : pointer;
}

.saber-mas:hover{
    background-color: #000000;
    color: white;
    border: 2px solid #000000;
}

.iniciar{
    background-color: rgb(33, 35, 167);
    border: none;
    color: white;
    font-family: 'raleway';
    font-weight: 500;
    font-size: 2rem;
    padding-inline: 2.5rem;
    padding-block: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.iniciar:hover{
    background-color: rgb(14, 15, 100);
}

/*FIN DE HOMEPAGE*/

/*COMIENZO DE SECTION 1 - Enfermedades*/

.section-1{
    background-color: #f9f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section{
    width: 80%;
    display: flex;
    justify-content: start;
    margin-top: 2rem;
}

.enfermedades{
    font-family: 'Oswald';
    font-size: 4rem;
    align-items: start;
    padding-top: 1rem;
    color: #2123a7;
}

.content-section{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(230, 230, 240);
    width: 80%;
    height: 100%;
    max-height: 800px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
}

.sick-card{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
}

.cont-card{
    padding: 10px;
}

.sick-card:hover{
    transform: translateY(-5px) ;
    box-shadow: 0 4px 8px #524e79e7;
}

.sick-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popup{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.popup .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup .popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    background-color: #f4f4f4;
    width: 600px;
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    overflow-y: auto;
    scrollbar-color: #2123a7 #f4f4f4;
    scrollbar-arrow-color: #2123a7;
}

.popup .popup-content h2{
    font-family: 'Oswald';
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.popup .popup-content h3{
    margin-top: 15px;
}

.popup .popup-content button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-family: 'raleway';
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: rgb(33, 35, 167);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.popup .popup-content button:active{
    transform: translateY(4px);
}



.popup .popup-content button:hover{
    background-color: rgb(26, 27, 95);
}

.popup.active {
    top: 0px;
    transition: top 0.3s ease;
    z-index: 3;
}

.popup.active .overlay{
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup.active .popup-content{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
/*FIN SECTION 1*/

/*Comienzo de Section 2 - Noticias*/

.section-2{
    background-color: #f9f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.slider-container{
    position: relative;
    width: 80%;
    height: 70%;
}

.card-slider{
    display: flex;
    gap: 10px;
    background-color: #c4c4ca;
    padding: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    height: 600px;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.texto-slider{
position: absolute;
  color: white;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.texto-slider:hover{
 transform: scale(10px);
}

.texto-slider h1{
    font-family: 'Oswald';

}
.texto-slider p{
    font-family: 'Raleway';
    font-size: 1rem;
}

.prevbtn, .nextbtn {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(40, 20, 126, 0.685);
  color: white;
  border: none;
  border-radius: 100%;
  font-size: 2rem;
  padding: 10px 10px;
  cursor: pointer;
}


.prevbtn:hover{
    background: rgb(39, 20, 126);
}

.nextbtn:hover{
    background: rgb(39, 20, 126);
}


.prevbtn { left: 10px; }
.nextbtn { right: 10px; }
/*Final section 2*/

/*INICIO section 3 - Calendario*/
.section-3{
    background-color: #fdfbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esp-calendario{
    width: 80%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.calendario{
    width: 700px;
    height: 100%;
    background-color: #f1f0ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.calendario ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendario .semana {
    margin-bottom: 10px;
}

.calendario .semana li{
    font-weight: 600;
}

.calendario ul li{
    width: calc(100% / 7);
    font-size: 1.45rem;
    position: relative;
}

.calendario .dia li::before{
    position: absolute;
    content: '';
    height: 60px;
    width: 60px;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, background 0.3s;
}

.dia li.active{
    color: #ffffff;
}

.dia li.active::before{
    background: #a084f5;
}

.calendario .dia li:hover:before{
    background: #d8d2ff;
}

.calendario .dia li{
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.calendario .dia li.inactive{
    color: #c4abf1;
}

.header-cal{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    font-size: 1.80rem;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #502eb6;
    color: white;
}

.header-cal .icons span{
    font-size: 1.80rem;
    height: 50px;
    width: 50px;
    margin: 0 1px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor : pointer;
    background-color: #0c0e86;
}

.eventos{
    margin-left: 2rem;
    width: 800px;
    height: 100%;
    background-color: rgb(241, 240, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

/*FINAL DE SECTION 3*/

/*INICIO DE SECTION 4 - Busqueda de Centros cercanos*/
.section-4{
    background-color: #fdfbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cont-centro{
    width: 80%;
    height: 70%;
    border: 2px solid#bcbcda;
    border-radius: 10px;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 1;
}

.header-centro{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    gap: 1rem;
}

.header-centro select{
    height: 80%;
    width: 500px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: #505050;
    background-color: #c5c3dd;
    border: none;
}

.header-centro button{
    height: 80%;
    width: 500px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    background-color: #502eb5;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.header-centro button:hover{
    background-color: #0c0e86;
}

.header-centro button:active{
    color: #ffffff;
    transform: translateY(4px);
}

.cont-centros{
    height: 520px;
    width: 100%;
    background-color: rgb(219, 218, 235);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}


/*FINAL DE SECTION 4*/

/*FOOTER*/
.footer{
    background-color: rgb(33, 35, 167);
    color: white;
    font-family: 'Raleway';
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

